<?xml version="1.0" encoding="utf-8"?>
<robot name="turtlebot3_burger">
  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1" />
  </material>
  <material name="dark">
    <color rgba="0.3 0.3 0.3 1" />
  </material>
  <link name="base_footprint" />
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.825734973" />
      <inertia ixx="0.00221244152635336" ixy="-1.22940828077844E-05" ixz="3.49387228197884E-05" iyy="0.00211937050335109" iyz="-5.01213344250573E-06" izz="0.00200642715208232" />
    </inertial>
    <visual>
      <origin xyz="-0.032 0 0" />
      <geometry>
        <mesh filename="package://meshes/burger_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="light_black" />
    </visual>
    <collision>
      <origin xyz="-0.032 0 0.07" />
      <geometry>
        <box size="0.14 0.14 0.143" />
      </geometry>
    </collision>
  </link>
  <link name="wheel_left_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0284989402" />
      <inertia ixx="1.11753870442044E-05" ixy="-4.32541016892607E-11" ixz="-5.93885829403007E-09" iyy="1.11926092358772E-05" iyz="-1.46103424497612E-11" izz="2.07125576707767E-05" />
    </inertial>
    <visual>
      <origin rpy="-4.713185 0 0" />
      <geometry>
        <mesh filename="package://meshes/left_tire.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.018" radius="0.033" />
      </geometry>
    </collision>
  </link>
  <link name="wheel_right_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0284989402" />
      <inertia ixx="1.11753870442044E-05" ixy="-4.32541016892607E-11" ixz="-5.93885829403007E-09" iyy="1.11926092358772E-05" iyz="-1.46103424497612E-11" izz="2.07125576707767E-05" />
    </inertial>
    <visual>
      <origin rpy="-4.713185 0 0" />
      <geometry>
        <mesh filename="package://meshes/right_tire.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.018" radius="0.033" />
      </geometry>
    </collision>
  </link>
  <link name="caster_back_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0049999999" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <collision>
      <origin xyz="0 0.001 0" />
      <geometry>
        <box size="0.03 0.009 0.02" />
      </geometry>
    </collision>
  </link>
  <link name="imu_link" />
  <link name="base_scan">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.1140000001" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/lds.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark" />
    </visual>
    <collision>
      <origin xyz="0.015 0 -0.0065" />
      <geometry>
        <cylinder length="0.0315" radius="0.055" />
      </geometry>
    </collision>
  </link>
  <joint name="base_footprint_base_link_joint" type="fixed">
    <origin xyz="0 0 0.01" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>
  <joint name="wheel_left_joint" type="continuous">
    <origin rpy="-1.57 0 0" xyz="0 0.08 0.023" />
    <parent link="base_link" />
    <child link="wheel_left_link" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="wheel_right_joint" type="continuous">
    <origin rpy="-1.57 0 0" xyz="0 -0.08 0.023" />
    <parent link="base_link" />
    <child link="wheel_right_link" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="caster_back_joint" type="fixed">
    <origin rpy="-1.57 0 0" xyz="-0.081 0 -0.004" />
    <parent link="base_link" />
    <child link="caster_back_link" />
  </joint>
  <joint name="base_link_imu_link_joint" type="fixed">
    <origin xyz="-0.032 0 0.068" />
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>
  <joint name="scan_joint" type="fixed">
    <origin xyz="-0.032 0 0.172" />
    <parent link="base_link" />
    <child link="base_scan" />
  </joint>
  <gazebo reference="base_link">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="wheel_left_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>500000.0</kp>
  <kd>10.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>0.1</maxVel>
  <fdir1>1 0 0</fdir1>
  <material>Gazebo/FlatBlack</material>
</gazebo>
<gazebo reference="wheel_right_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>500000.0</kp>
  <kd>10.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>0.1</maxVel>
  <fdir1>1 0 0</fdir1>
  <material>Gazebo/FlatBlack</material>
</gazebo>
<gazebo reference="caster_back_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
  <material>Gazebo/FlatBlack</material>
</gazebo>
<gazebo reference="imu_link">
  <sensor name="imu" type="imu">
    <always_on>true</always_on>
    <visualize>false</visualize>
  </sensor>
  <material>Gazebo/FlatBlack</material>
</gazebo>
<gazebo>
  <plugin filename="libgazebo_ros_diff_drive.so" name="turtlebot3_burger_controller">
    <commandTopic>cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <odometrySource>world</odometrySource>
    <publishOdomTF>true</publishOdomTF>
    <robotBaseFrame>base_footprint</robotBaseFrame>
    <publishWheelTF>false</publishWheelTF>
    <publishTf>true</publishTf>
    <publishWheelJointState>true</publishWheelJointState>
    <legacyMode>false</legacyMode>
    <updateRate>30</updateRate>
    <leftJoint>wheel_left_joint</leftJoint>
    <rightJoint>wheel_right_joint</rightJoint>
    <wheelSeparation>0.160</wheelSeparation>
    <wheelDiameter>0.066</wheelDiameter>
    <wheelAcceleration>1</wheelAcceleration>
    <wheelTorque>10</wheelTorque>
    <rosDebugLevel>na</rosDebugLevel>
  </plugin>
</gazebo>
<gazebo>
  <plugin filename="libgazebo_ros_imu.so" name="imu_plugin">
    <alwaysOn>true</alwaysOn>
    <bodyName>imu_link</bodyName>
    <frameName>imu_link</frameName>
    <topicName>imu</topicName>
    <serviceName>imu_service</serviceName>
    <gaussianNoise>0.0</gaussianNoise>
    <updateRate>0</updateRate>
    <imu>
      <noise>
        <type>gaussian</type>
        <rate>
          <mean>0.0</mean>
          <stddev>2e-4</stddev>
          <bias_mean>0.0000075</bias_mean>
          <bias_stddev>0.0000008</bias_stddev>
        </rate>
        <accel>
          <mean>0.0</mean>
          <stddev>1.7e-2</stddev>
          <bias_mean>0.1</bias_mean>
          <bias_stddev>0.001</bias_stddev>
        </accel>
      </noise>
    </imu>
  </plugin>
</gazebo>
<gazebo reference="base_scan">
  <material>Gazebo/FlatBlack</material>
  <sensor name="lds_lfcd_sensor" type="ray">
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <update_rate>5</update_rate>
    <ray>
      <scan>
        <horizontal>
          <samples>360</samples>
          <resolution>1</resolution>
          <min_angle>0.0</min_angle>
          <max_angle>6.28319</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.120</min>
        <max>3.5</max>
        <resolution>0.015</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </ray>
    <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_lds_lfcd_controller">
      <topicName>scan</topicName>
      <frameName>base_scan</frameName>
    </plugin>
  </sensor>
</gazebo>
</robot>